<%= link_to 'Home', root_path, class: 'btn btn-default' %>
<h2> Sit back and get relaxed, We will mail you when we are done with data scrapping, Thanks. </h2>
<% unless session[:message].present? %>
  <script type="text/javascript">
    setTimeout(function(){
      $.ajax({
        method: 'GET',
        url: '/send_list_of_followers',
        success: function(){
          location.reload();
        }
      });
      console.log('hello');
    }, 30000);
  </script>
<% end %>