<%= link_to 'Home', root_path, class: 'btn btn-default' %>
<h2> Sit back and get relaxed, You will get zip file of scrapped data, Thanks. </h2>
<% unless session[:message].present? %>
  <script type="text/javascript">
    setTimeout(function(){
      $.ajax({
        method: 'GET',
        url: '/send_list_of_followers',
        success: function(){
          location.reload();
        }
      });
      console.log('hello');
    }, 30000);
  </script>
<% else %>
  <script type="text/javascript">
    $(document).ready(function(){
      window.location.replace('/scraped_data.zip');
    });
  </script>
<% end %>