<%= link_to 'Home', root_path, class: 'btn btn-default' %>
<h2> Sit back and get relaxed, You will get zip file of scrapped data, Thanks. </h2>

We are working on it. Please wait for a few minutes<br/>
Approximate time <%= (session[:time].to_f / 60).round(2) %> minutes. <br/>
Download will start at <%= Time.strptime(session[:download_time], '%Y-%m-%dT%H:%M:%S').strftime('%H h %M m %S s') %><br/><br/>
<% unless session[:message].present? %>
  <script type="text/javascript">
    setTimeout(function(){
      $.ajax({
        method: 'GET',
        url: '/send_list_of_followers',
        success: function(){
          location.reload();
        }
      });
      console.log('hello');
    }, 30000);
  </script>
<% else %>
  Your download is started,<br/>
  
  <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        window.location.replace('/scrapped_file.zip');
      }, 300);
    });
  </script>
<% end %>