<%= link_to 'Home', root_path, class: 'btn btn-default' %>
<h2> Sit back and get relaxed, You will get csv file of scrapped data, Thanks. </h2>
<% if session[:error].present? %>
  Something went wrong, please try again.
<% elsif session[:message].present? %>
  Your download is started,<br/>
  <%- if session[:file].split('.').last == 'csv'%>
    <script type="text/javascript">
      $(document).ready(function(){
        setTimeout(function(){
          window.location.replace('/scrapped_file.csv');
        }, 300);
      });
    </script>
  <% elsif session[:file].split('.').last == 'zip' %>
    <script type="text/javascript">
      $(document).ready(function(){
        setTimeout(function(){
          window.location.replace('/scrapped_file.zip');
        }, 300);
      });
    </script>
  <% end %>
<% else %>
  <script type="text/javascript">
    setTimeout(function(){
      location.reload();
      console.log('hello');
    }, 30000);
  </script>
<% end %>