<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello Sir/Mam,</p>
    <p>
      Please find scrapped data in attached zip file.
    </p>
    <p>
      Thanks for being with us.
    </p>
    <p> Regards,</p>
    <p>BTT</p>
  </body>
</html>